html {
  --bg: #ffffff;
  --color-text: #333333;
  --link-color: #0000ff;
  --color-headings: #0077ff;
  --listbg-color: red;
  --listtext-color: #ffffff;
  --listmiddle-color: #ffa07a;
  --listbackground: #ffffff;
}
body {
  background-color: var(--bg);
}
.list {
  width: 100%;
  border-spacing: 0;
  font-size: 20px;
  font-family: "Signika Negative", sans-serif;
  font-weight: 500;
}

.list tr:nth-child(1) {
  vertical-align: to;
  background-color: var(--listbg-color);
  color: var(--listtext-color);
  font-weight: bold;
}
table.list td {
  padding-left: 10px;
}
.list-section {
  display: flex;
  border: 2px solid var(--listbg-color);
  margin: 20px;
  padding: 10px;
  border-radius: 6px;
}
